.section-about {
  background-color: #f7f7f7;
  padding: 30rem 0;
  margin-top: -20vh;
}

@media (max-width: 75em) {
  .section-about {
    width: 100%;
    padding: 20rem 0;
  }
}

.section-feature {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}

.section-feature > * {
  transform: skewY(7deg);
}

.section-cards {
  padding: 20rem 0 10rem 0;
  text-transform: capitalize;
  background-color: #f7f7f7;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 20rem 0 10rem 0;
  text-transform: capitalize;
}

.section-booking {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  75% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  75% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.header-primary--main {
  font-size: 6rem;
  display: block;
  letter-spacing: 3.5rem;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 2s;
}

@media (max-width: 75em) {
  .header-primary--main {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}

.header-primary--sub {
  font-size: 2rem;
  display: block;
  letter-spacing: 1.74rem;
  font-weight: 400;
  animation-name: moveInRight;
  animation-duration: 2s;
}

@media (max-width: 75em) {
  .header-primary--sub {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.u-text-middle {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bigger {
  margin-top: 12rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  border-radius: 10rem;
  transition: all 0.2s;
  display: inline-block;
  position: relative;
  font-size: 1.7rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 75em) {
  .btn, .btn:link, .btn:visited {
    padding: 2rem;
    font-size: 1.5rem;
  }
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@media (max-width: 75em) {
  .btn--animated {
    animation-fill-mode: none;
  }
}

.btn--white {
  color: #777;
  background-color: #fff;
}

.btn--white::after {
  color: #777;
  background-color: #fff;
}

.btn--green {
  color: #f7f7f7;
  background-color: #55c57a;
}

.btn--green::after {
  color: #e7e7e7;
  background-color: #55c57a;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out;
}

.btn-text:link,
.btn-text:visited {
  padding: 1rem 0;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  font-size: 1.6rem;
  transition: all .5s;
}

.btn-text:link:hover,
.btn-text:visited:hover {
  background-color: #55c57a;
  color: #fff;
  padding: 1rem;
  border-radius: 3px;
  transform: scale(1.1);
}

.composition {
  position: relative;
  z-index: 10;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: absolute;
  outline-offset: 1rem;
}

@media (max-width: 75em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.33%;
  }
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

@media (max-width: 75em) {
  .composition__photo--p1 {
    top: 1rem;
    transform: scale(1.2);
  }
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

@media (max-width: 75em) {
  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 100;
  }
}

.composition__photo--p3 {
  left: 20%;
  top: 8rem;
}

@media (max-width: 75em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.2);
    z-index: 90;
  }
}

.composition__photo:hover {
  transform: scale(1.1);
  z-index: 20;
  outline: 1rem solid #55c57a;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.8);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  transition: transform 0.2s;
  padding: 2rem 1rem;
}

.feature-box__icon {
  font-size: 5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  margin: 1rem 0;
}

.feature-box__text {
  font-size: 1.6rem;
}

.feature-box:hover {
  transform: translateY(-4rem) scale(1.1);
}

.card {
  height: 52rem;
  perspective: 120rem;
  -moz-perspective: 120rem;
  position: relative;
}

.card__side {
  position: absolute;
  height: 52rem;
  font-size: 2rem;
  transition: all .8s ease;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
}

.card__side--font {
  background-color: #fff;
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #00B4D8, #0077B6);
}

.card:hover .card__side--font {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__image {
  background-size: cover;
  height: 25rem;
  -webkit-background-blend-mode: screen;
  background-blend-mode: screen;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__image--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}

.card__image--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}

.card__image--3 {
  background-image: linear-gradient(to right bottom, #00B4D8, #0077B6), url(../img/nat-7.jpg);
}

.card__header {
  text-transform: uppercase;
  position: absolute;
  top: 14rem;
  right: 2rem;
  text-align: right;
  width: 55%;
  color: #fff;
}

.card__header--span {
  padding: 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-size: 2.5rem;
  font-weight: 300;
}

.card__header--span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}

.card__header--span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}

.card__header--span--3 {
  background-image: linear-gradient(to right bottom, rgba(0, 180, 216, 0.8), rgba(0, 119, 182, 0.8));
}

.card__details {
  color: #777;
  text-transform: capitalize;
  font-size: 1.5rem;
  padding: 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  padding-bottom: 8rem;
}

.card__price-only {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 5rem;
  font-weight: 100;
}

@media (max-width: 75em) {
  .card {
    height: auto;
    margin: 0 auto;
    background-color: #fff;
  }
  .card__side {
    position: relative;
    height: auto;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--font {
    transform: rotateY(0);
  }
  .card__cta {
    position: relative;
    width: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0);
    padding: 5rem;
  }
  .card__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .card__price-value {
    font-size: 5rem;
    font-weight: 100;
  }
}

.stories {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem 8rem;
  transform: skewX(-12deg);
}

@media (max-width: 75em) {
  .stories {
    width: 100%;
    transform: skew(0);
  }
}

.stories__shape {
  height: 15rem;
  width: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  overflow: hidden;
}

@media (max-width: 75em) {
  .stories__shape {
    transform: translateX(-3rem) skewX(0);
  }
}

.stories__image {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.5s;
  backface-visibility: hidden;
}

@media (max-width: 75em) {
  .stories__image {
    padding-right: 1rem;
  }
}

.stories__text {
  transform: skewX(12deg);
}

@media (max-width: 75em) {
  .stories__text {
    transform: skew(0);
  }
}

.stories__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  font-size: 1.8rem;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
  text-align: center;
  backface-visibility: hidden;
}

.stories:hover .stories__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.stories:hover .stories__image {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(60%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.booking {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 75em) {
  .booking {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
    background-size: cover;
  }
}

.booking__form {
  width: 55%;
  padding: 6rem;
}

@media (max-width: 75em) {
  .booking__form {
    width: 100%;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  border: none;
  padding: 1.5rem 2rem;
  width: 90%;
  display: block;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid {
  border-bottom: 2px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  margin-left: 2rem;
  margin-top: 0.7rem;
  font-size: 1.2rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}

.form__radio-group {
  width: 50%;
  float: left;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -.4rem;
  left: 0;
}

@media (max-width: 37.5em) {
  .form__radio-button {
    border: 2px solid #55c57a;
  }
}

.form__radio-button::after {
  content: "";
  display: block;
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity .2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.form__radio-input {
  display: none;
}

.form__button-groups {
  padding-top: 3rem;
  display: inline-block;
}

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup__content {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #fff;
  box-shadow: 0 2rem 3rem rgba(51, 51, 51, 0.8);
  display: table;
  overflow: hidden;
  border-radius: 3px;
  opacity: 0;
  transition: all .5s .3s;
}

.popup__left {
  width: 33.33%;
  display: table-cell;
}

.popup__right {
  width: 66.67%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup__img {
  width: 100%;
  display: block;
}

.popup__text {
  font-size: 1.4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #e7e7e7;
  hyphens: auto;
  padding-bottom: 4rem;
}

.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: inline-block;
  font-size: 3rem;
  color: #000;
  line-height: 1;
  text-decoration: none;
}

.popup__close:hover {
  color: #55c57a;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative;
}

@media (max-width: 75em) {
  .header {
    height: 60vh;
    clip-path: polygon(0 0, 100% 0, 100% 45vh, 0% 100%);
    margin-bottom: 10rem;
  }
}

@media (max-width: 37.5em) {
  .header {
    height: 40vh;
    clip-path: polygon(0 0, 100% 0, 100% 30vh, 0% 100%);
    margin-bottom: 15rem;
  }
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 107rem;
  margin: 0 auto;
}

@media (max-width: 75em) {
  .row {
    max-width: 50rem;
  }
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

@media (max-width: 75em) {
  .row:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 4rem;
}

@media (max-width: 75em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}

@media (max-width: 75em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row .col-1of2 {
  width: calc((100% - 4rem) / 2);
}

.row .col-1of4 {
  width: calc((100% - 3 * 4rem) / 4);
}

.row .col-1of3 {
  width: calc((100% - 2 * 4rem) / 3);
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #fff;
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

.footer__logo {
  width: 15rem;
  height: auto;
}

.footer__navigation {
  border-top: 1px solid #f7f7f7;
  display: inline-block;
  padding-top: 2rem;
  text-decoration: none;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #f7f7f7;
  transition: all .1s;
  display: inline-block;
  text-transform: uppercase;
}

.footer__link:link:hover, .footer__link:link:active, .footer__link:visited:hover, .footer__link:visited:active {
  background-color: #333;
  color: #55c57a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.footer__copyright {
  border-top: 1px solid #f7f7f7;
  display: inline-block;
  padding-top: 2rem;
  width: 80%;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-color: #fff;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all .6s;
}

.navigation__nav {
  height: 100vh;
  opacity: 0;
  z-index: 1500;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .3s;
}

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-weight: 300;
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 222%;
  padding: 1rem 3rem;
  transition: all .4s;
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  position: fixed;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  height: 2px;
  width: 3rem;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  padding: 2rem;
}

@media (max-width: 75em) {
  body {
    padding: 0;
  }
}
