$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark: #28b485;
$color-grey:#777;
$color-white:#fff;
$color-dark-black:#000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#e7e7e7;


$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#00B4D8;
$color-tertiary-dark:#0077B6;


$gutter-width:107rem;
$gutter-horizontal: 4rem;
$gutter-vertical:6rem;