.stories{
    width: 75%;
    margin: 0 auto;
    background-color: rgba($color-white,0.45);
    box-shadow: 0 1rem 2rem rgba($color-dark-black,0.1);
    border-radius: 3px;
    padding: 6rem 8rem;
    transform: skewX(-12deg);
    @include responsive(tab-land){
        width: 100%;
        transform: skew(0);
    }

    &__shape{
        height: 15rem;
        width: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        overflow: hidden;

        @include responsive(tab-land){

            transform: translateX(-3rem) skewX(0);
           


        }



    }

    &__image{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all 0.5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        @include responsive(tab-land){

            padding-right: 1rem;


        }


    }
    &__text{
        transform: skewX(12deg);
        @include responsive(tab-land){

            transform:skew(0);
        }

    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,10%);
        font-size: 1.8rem;
        color:$color-white;
        opacity: 0;
        transition: all 0.5s;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;


    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%,-50%);
    }

    &:hover &__image{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(60%);

    }


}